<div class="panel panel-default">
  <div class="panel-heading">{{title}}</div>
  <ul class="list-group">
    {{#messages}}
      <li class="list-group-item">{{text}}</li>
    {{/messages}}
  </ul>
</div>