/* Simple Chat
 * Copyright (c) 2008-2016 Alexander Sedov <imp@schat.me>
 *
 *   This program is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 *   This program is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *   GNU General Public License for more details.
 *
 *   You should have received a copy of the GNU General Public License
 *   along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

# if defined(UNDER_CE)
#  include <winbase.h>
# else
#  include <winver.h>
# endif

#include "../../version.h"

VS_VERSION_INFO VERSIONINFO
  FILEVERSION 2,4,0,0
  PRODUCTVERSION SCHAT_VERSION_RC
  FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
  FILEFLAGS VS_FF_DEBUG
#else
  FILEFLAGS 0x0L
#endif
  FILEOS VOS__WINDOWS32
  FILETYPE VFT_DLL
  FILESUBTYPE 0x0L
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "040904B0"
      BEGIN
        VALUE "CompanyName",      SCHAT_ORGANIZATION
        VALUE "FileDescription",  "Server Messages Support"
        VALUE "FileVersion",      "2.4.0"
        VALUE "LegalCopyright",   SCHAT_COPYRIGHT
        VALUE "OriginalFilename", "Messages.dll"
        VALUE "ProductName",      SCHAT_NAME
        VALUE "ProductVersion",   SCHAT_VERSION
      END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x0, 1200
    END
  END

