Source: schat2
Section: net
Priority: extra
Maintainer: Alexander Sedov <impomezia@gmail.com>
Build-Depends: debhelper (>= 7), libqtwebkit-dev | libqt4-dev, qt4-qmake, libxss-dev, zlib1g-dev, pkg-config, libhunspell-dev, libgeoip-dev
Standards-Version: 3.8.3
Homepage: https://schat.me

Package: schat2
Architecture: any 
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-sql-sqlite (>= 4:4.6.1)
Description: IMPOMEZIA Simple Chat Client
 Simple and powerful cross-platform chat client for local networks and the Internet.

Package: schatd2
Architecture: any 
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-sql-sqlite (>= 4:4.6.1)
Description: IMPOMEZIA Simple Chat Daemon
 Simple and powerful cross-platform chat server for local networks and the Internet.
