[Unit]
Description=Simple Chat Daemon
After=syslog.target network.target

[Service]
Type=forking
User=schatd2
Group=schatd2
ExecStart=/usr/sbin/schatd2 -D

[Install]
WantedBy=multi-user.target
