::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color:#fff;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius:3px;
}

::-webkit-scrollbar-track {
  border-radius:3px;
}
