/* $Id: schatd2.rc 1987 2011-12-13 23:37:07Z IMPOMEZIA $
 * IMPOMEZIA Simple Chat
 * Copyright © 2008-2011 IMPOMEZIA <schat@impomezia.com>
 *
 *   This program is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 *   This program is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *   GNU General Public License for more details.
 *
 *   You should have received a copy of the GNU General Public License
 *   along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

#include <windows.h>
#include "../common/version.h"

IDI_ICON1    ICON    DISCARDABLE    "../../res/images/icon.ico"

VS_VERSION_INFO VERSIONINFO
  FILEVERSION SCHAT_VERSION_RC
  PRODUCTVERSION SCHAT_VERSION_RC
  FILEFLAGSMASK 0x17L
#ifdef _DEBUG
  FILEFLAGS VS_FF_DEBUG
#else
  FILEFLAGS 0x0L
#endif
  FILEOS VOS__WINDOWS32
  FILETYPE VFT_APP
  FILESUBTYPE 0x0L
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "000004b0"
      BEGIN
        VALUE "CompanyName",      SCHAT_ORGANIZATION
        VALUE "FileDescription",  "IMPOMEZIA Simple Chat Daemon"
        VALUE "FileVersion",      SCHAT_VERSION
        VALUE "LegalCopyright",   SCHAT_COPYRIGHT
        VALUE "OriginalFilename", "schatd2.exe"
        VALUE "ProductName",      SCHAT_NAME
        VALUE "ProductVersion",   SCHAT_VERSION
      END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x0, 1200
    END
  END

